ALTER TABLE sessions ADD CONSTRAINT FK_9A609D139B0F88B1 FOREIGN KEY (activite_id) REFERENCES activite (id) ON DELETE CASCADE;
ALTER TABLE chambre ADD CONSTRAINT FK_C509E4FF3243BB18 FOREIGN KEY (hotel_id) REFERENCES hotel (id) ON DELETE CASCADE;
ALTER TABLE checkout ADD CONSTRAINT FK_AF382D4E91F478C5 FOREIGN KEY (flight_id) REFERENCES vol (flight_id) ON DELETE CASCADE;
ALTER TABLE checkout ADD CONSTRAINT FK_AF382D4EA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE reclamation ADD CONSTRAINT FK_CE606404A76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE poste ADD localisation VARCHAR(255) DEFAULT NULL;
ALTER TABLE poste ADD CONSTRAINT FK_7C890FABA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE poste ADD CONSTRAINT FK_7C890FAB29CCBAD0 FOREIGN KEY (forum_id) REFERENCES forum (forum_id) ON DELETE CASCADE;
ALTER TABLE forum ADD CONSTRAINT FK_852BBECDDE12AB56 FOREIGN KEY (created_by) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE hotel ADD is_favoris TINYINT DEFAULT 0 NOT NULL;
ALTER TABLE location ADD CONSTRAINT FK_5E9E89CB377F287F FOREIGN KEY (id_voiture) REFERENCES voiture (id_voiture) ON DELETE CASCADE;
ALTER TABLE location ADD CONSTRAINT FK_5E9E89CBA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE reservation ADD CONSTRAINT FK_42C84955A76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE reservation ADD CONSTRAINT FK_42C849559B177F54 FOREIGN KEY (chambre_id) REFERENCES chambre (id) ON DELETE CASCADE;
ALTER TABLE reservation ADD CONSTRAINT FK_42C849553243BB18 FOREIGN KEY (hotel_id) REFERENCES hotel (id) ON DELETE CASCADE;
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BC4B89032C FOREIGN KEY (post_id) REFERENCES poste (post_id) ON DELETE CASCADE;
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BCA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE reservation_session ADD CONSTRAINT FK_B7D16E51613FECDF FOREIGN KEY (session_id) REFERENCES sessions (id_session) ON DELETE CASCADE;
ALTER TABLE login_attempts CHANGE risk_score risk_score DOUBLE PRECISION DEFAULT 0;
ALTER TABLE login_attempts ADD CONSTRAINT FK_9163C7FBA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE membre_forum ADD status VARCHAR(20) DEFAULT 'PENDING' NOT NULL;
ALTER TABLE membre_forum ADD CONSTRAINT FK_330DB14C29CCBAD0 FOREIGN KEY (forum_id) REFERENCES forum (forum_id) ON DELETE CASCADE;
ALTER TABLE membre_forum ADD CONSTRAINT FK_330DB14CA76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE otp_codes ADD CONSTRAINT FK_7FF699E8A76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
ALTER TABLE user_sessions ADD CONSTRAINT FK_7AED7913A76ED395 FOREIGN KEY (user_id) REFERENCES personne (id) ON DELETE CASCADE;
